<h1>Frequently Asked Questions</h1>
<ul>
    <li>
        <span class="question">Q. When did you start dubbing content?</span>
        <br>
        <span class="answer">A. We started dubbing in 2020</span>
    </li>
    <li>
        <span class="question">Q. What was the first thing you dubbed?</span>
        <br>
        <span class="answer">A. It was 'movie/series/game name' by 'director/publisher name'</span>
    </li>
    <li>
        <span class="question">Q. What are your favorite works so far?</span>
        <br>
        <span class="answer">A. Here is a list of our work, which we are most proud of.</span>
        <ol>
            <li>
                Name of work 1
            </li>
            <li>
                Name of work 2
            </li>
            <li>
                Name of work 3
            </li>
            <li>
                Name of work 4
            </li>
            <li>
                Name of work 5
            </li>
        </ol>
    </li>
    <li>
        <span class="question">Q. Where do you get your ideas from?</span>
        <br>
        <span class="answer">
            A. We mostly look at 
            <a href="https://www.imdb.com/" title="IMDbs' website">IMDb</a>
            for new releases, but we often come across older titles as well.
        </span>
    </li>
</ul>


<h1>Contact Information</h1>
<table>
    <tr>
        <td>Contact type</td>
        <td>Address / Number</td>
        <td>Availability</td>
        <td>Additional Information</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>support&#64;companyname.extension</td>
        <td>Mon - Fri (8AM - 4PM CET)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>important&#64;companyname.extension</td>
        <td>Mon - Sun (24/7)</td>
        <td>Only for premium users</td>
    </tr>
    <tr>
        <td>Tel.</td>
        <td>+12-34-567-8900</td>
        <td>Mon - Fri (8AM - 4PM CET)</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Fax</td>
        <td>+12-34-567-8901</td>
        <td>Mon - Sun</td>
        <td>Wait time is approximately 2 weeks</td>
    </tr>
</table>