<div class="home-container">
    <h1>
        Welcome to Cookie Dubs!
    </h1>
    <p>
        Our goal is to provide the best quality dubs to your favorite shows.
    </p>
    <p>
        You can check our finished and ongoin projects in the <b>Active Projects</b> segment.
    </p>
    <p>
        Our team is full of some of the most talented voice actors. If you feel like some of our work
        is not high enough quality for your needs feel free to leave a feedback in the <b>Feedback</b> segment.
    </p>
</div>