.home-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: auto;
    width: 450px;
    gap: 10px;
    text-align: justify;
}

h1
{
    font-size: 300%;
    font-variant: small-caps;
    font-weight: 600;
}